* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.herosec {
    background: url(images/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 35px;
    height: 60px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navcontainer {
    display: flex;
    gap: 20px;
}

.navcontainer .user {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.herocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: calc(60vh-60px);
}

.heroconlogo {
    width: 200px;
    height: auto;
}

.herotitle {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.herocontainerinput {
    background-color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 12px;
}

.containerinputlocation,
.containerinputsearch {
    padding: 5px;
    border: none;

}

.containerinputlocation {
    width: 35%;
    border-right: 2px solid #e0e0e0;
}

.containerinputsearch {
    width: 65%;
}

@media only screen and (max-width:600px) {
    .navcontainer {
        display: flex;
    }

    .link {
        display: none;
    }

    .navigation {
        padding: 16px;
    }

    .herocontainer {
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }

    .containerinputlocation,
    .containerinputsearch {
        padding: 15px;
        border-radius: 10px;
        width: 95%;
    }

    .herocontainerinput {
        height: calc(80vh-60px);
    }

    .herotitle {
        font-size: 20px;
        width: 95%;

    }
}