* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.herosec {
    background: url(images/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 35px;
    height: 60px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navcontainer {
    display: flex;
    gap: 20px;
}

.navcontainer .user {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.herocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: calc(60vh-60px);
}

.heroconlogo {
    width: 200px;
    height: auto;
}

.herotitle {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.herocontainerinput {
    background-color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 12px;
}

.containerinputlocation,
.containerinputsearch {
    padding: 5px;
    border: none;

}

.containerinputlocation {
    width: 35%;
    border-right: 2px solid #e0e0e0;
}

.containerinputsearch {
    width: 65%;
}

@media only screen and (max-width:600px) {
    .navcontainer {
        display: flex;
    }

    .link {
        display: none;
    }

    .navigation {
        padding: 16px;
    }

    .herocontainer {
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }

    .containerinputlocation,
    .containerinputsearch {
        padding: 15px;
        border-radius: 10px;
        width: 95%;
    }

    .herocontainerinput {
        height: calc(80vh-60px);
    }

    .herotitle {
        font-size: 20px;
        width: 95%;

    }
}

.offercardcontainer {
    margin: 2rem auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.offercard {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}

.offercard:hover {
    transform: scale(1.05);
}

.offercard img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

.offercardcontent {
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
}

.offercardcontent h2 {
    font-size: 20px;
    font-weight: 400;
}

.offercardcontent p {
    font-size: 12px;
}

.collectioncontainer {
    margin: 2rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.collectioncontainer h1 {
    font-weight: 600;
}

.subcontainer {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subcontainer span:nth-child(2) {
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.collectioncards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1.5px;
}

.card1 {
    height: 300px;
    min-width: 260px;
    border-radius: 12px;
    background-clip: cover;
    background-position: center;
    position: relative;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(72, 16, 16, 0.09) 52%, rgba(13, 37, 59, 0.05) 52%, rgba(0, 0, 0, 0) 100%), url(images/collection1.jpg);
}

.card2 {
    height: 300px;
    min-width: 260px;
    background-color: aqua;
    border-radius: 12px;
    background-clip: cover;
    background-position: center;
    position: relative;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(72, 16, 16, 0.09) 52%, rgba(13, 37, 59, 0.05) 52%, rgba(0, 0, 0, 0) 100%), url(images/collection2.jpg);
}

.card3 {
    height: 300px;
    min-width: 260px;
    background-color: aqua;
    border-radius: 12px;
    background-clip: cover;
    background-position: center;
    position: relative;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(72, 16, 16, 0.09) 52%, rgba(13, 37, 59, 0.05) 52%, rgba(0, 0, 0, 0) 100%), url(images/collection3.jpg);
}

.card4 {
    height: 300px;
    min-width: 260px;
    background-color: aqua;
    border-radius: 12px;
    background-clip: cover;
    background-position: center;
    position: relative;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(72, 16, 16, 0.09) 52%, rgba(13, 37, 59, 0.05) 52%, rgba(0, 0, 0, 0) 100%), url(images/collection4.jpg);
}

.content {
    width: 100%;
    height: 100%;
    top: 75%;
    left: 0;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.8rem;
    font-weight: 400;
}

.gettheapp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 247);
    width: 100%;
    padding-top: 50px;
    height: 0%;
}

.image {
    display: flexbox;
    align-items: center;
    flex-wrap: wrap;
}

.image img {
    width: 45vh;
    height: 0%;
    position: relative;
    object-fit: cover;
    object-position: center;
    margin: 0%;
}

.rightcontainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    width: 40%;
}

.rightcontainer h1 {
    font-weight: 400;
    font-size: 2rem;
}

.rightcontainer p {
    font-size: 0.8rem;
}

.radiobtn {
    display: flex;
    gap: 1rem;
}

.radiobtn div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.radiobtn div input {
    height: 15px;
    width: 15px;
    accent-color: rgb(239, 75, 95);
}

.inputcontainer {
    display: flex;
    gap: 0.5rem;
}

.inputcontainer input,
.inputcontainer button {
    padding: 10px 12px;
}

.inputcontainer input {
    outline: none;
    flex: auto;
    border: 1.5px solid grey;
    border-radius: 6px;
}

.inputcontainer button {
    border: none;
    background-color: rgb(239, 75, 95);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.downloadapp {
    display: flex;
    flex-direction: column;
}

.downloadapp h5 {
    font-weight: 400;
    color: grey;
    padding-bottom: 15px;
}

.downloadapp div {
    display: flex;
    gap: 1rem;
}

.downloadapp img {
    width: 30%;
}

@media only screen and (max-width: 1200px) {

    .gettheapp,
    .image .gettheapp,
    .rightcontainer {
        flex: 1;
    }

    .gettheapp,
    .rightcontainer {
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {

    .gettheapp {
        padding: 2rem;
    }

    .gettheapp,
    .image,
    .rightcontainer {
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {

    .gettheapp {
        padding: 3rem 0;
    }

    .gettheapp,
    .image,
    .rightcontainer {
        width: 80%;
        flex-direction: column;
    }
}

.footer {
    width: 100%;
    padding-top: 30px;
}

.footer_section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.footer_section1 img {
    width: 120px;
}

.section1__buttonContainer {
    display: flex;
    gap: 1rem;
}

.section1__buttonContainer button {
    padding: 5px;
    width: 90px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation_container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}

.link__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link__container h5 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}

.footer__link {
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 300;
}

.footer__link:hover {
    color: black;
}

.social__links_container button {
    background-color: black;
    /* color: white; */
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.social__links_container button i {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.footer__section_logos {
    width: 100%;
}

.termsNConditions {
    width: 90%;
    margin: auto;
    padding-top: 1.5rem;
    border-top: 1px solid gray;
    color: gray;
}


@media only screen and (max-width: 900px) {
    .navigation_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 450px) {
    .navigation_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 280px) {
    .navigation_container {
        grid-template-columns: repeat(1, 1fr);
    }
}